body {
    width: 100%;
    height: 100%;
    background-image: url('../img/krusty-krab.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: 'Chewy', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 10);
    background-color: black;
    text-align: center;
}

.container {
    background-color: black;
    color: rgb(255, 255, 10);
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 10);
}

.order {
    width: 35%;
    padding: 15px;
    margin: 5px auto 100px;
}

.order h2 {
    text-align: center;
}

.order form {
    text-align: center;
}

.order button {
    margin: 5px auto;
    display: block;
    font-size: 1.25em;
}

button {
    border: 2px solid rgb(255, 255, 10);
    border-radius: 25px;
    background-color: black;
    color: rgb(255, 255, 10);
    opacity: .5;
    transition: width 2s, height 2s;
}

button:hover {
    opacity: 1;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.waiting, .eaten{
    width: 30%;
    display: inline-block;
    margin: auto;
    padding: 15px;
}

/* Background and element sizing for responsive design */
@media screen and (max-width: 768px) and (min-width:640px) {
    body {
        background-image: url('../img/krust-krab2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .waiting, .eaten {
        width: 35%;
    }
}

@media screen and (max-width: 640px) and (min-width: 320px) {
    body {
        background-image: url('../img/bg2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 1.5rem;
    }

    .container {
        width: 85%;
    }

    .flex-container {
        display: block;
    }

    .waiting {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}